@font-face 
  font-family: "Charlevoix"
  src: url("../fonts/CharlevoixPro-Regular.otf") format("opentype")

@font-face 
  font-family: "Minion Pro"
  src: url("../fonts/MinionPro-Regular.otf") format("opentype")

body 
    font-family: "Charlevoix", sans-serif
    letter-spacing: 0.03em
    margin: 0

a 
  text-decoration: none
  color: black