---
layout: default

---
<div class="topNav">
    {% for photo in site.photo reversed %}
    {% if photo.mainProject == true %}
        <a href="{{ photo.url }}" class="activeLink">{{ photo.title }}</a>
    {% else %}
        <a href="{{ photo.url }}" class="photoLinks">{{ photo.title }}</a>
    {% endif %}
    {% endfor %}
</div>

<div class="projectImages">
    {% for photo in site.photo %}
    {% if photo.mainProject == true %}
        {% for item in photo.images %}
            <img src="{{ site.baseurl }}/{{ item }}"/>
        {% endfor %}
    {% endif %}
    {% endfor %}
</div>

<div class="bottomNav">
    <a href="{{ site.baseurl }}/about">ABOUT</a>
    <a href="{{ site.baseurl }}/index">PEDRO J. MÁRQUEZ</a>
    <a href="{{ site.baseurl }}/all">ALL</a>
</div>