---
layout: default
---

<div class="topNav">
    {% for photo in site.photo reversed %}
    {% if photo.title == page.title %}
        <a href="{{ photo.url }}" class="activeLink">{{ photo.title }}</a>
    {% else %}
        <a href="{{ photo.url }}" class="photoLinks">{{ photo.title }}</a>
    {% endif %}
    {% endfor %}
</div>

<div class="projectImages">
    {% for item in page.images %}
        <img src="{{ site.baseurl }}/{{ item }}"/>
    {% endfor %}
</div>

<div class="bottomNav">
    <a href="{{ site.baseurl }}/about">ABOUT</a>
    <a href="{{ site.baseurl }}/index">PEDRO J. MÁRQUEZ</a>
    <a href="{{ site.baseurl }}/all">ALL</a>
</div>

